{% extends "basic.twig" %}

{% block title %}projects{% endblock %}
{% block content %}
    <h1>projects</h1>
    <ul>
        {% for project in projects %}
            <li><a href="{{ route('project',[project.id]) }}">{{ project.name }}</a></li>
        {% else %}
            <li>No projects have been found.</li>
        {% endfor %}
    </ul>
{% endblock %}
