<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="{{ asset('bootstrap-3.3.7-dist/css/bootstrap.css') }}">

    <title>{% block title %}{% endblock %}</title>

    <!-- Fonts -->
    {% block head %}{% endblock %}
</head>
<body>
{% include 'main-menu.twig' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            {% include 'side-menu.twig' %}
        </div>
        <div class="col-md-10">
            {% include 'status-message.twig' %}
            {% include 'error.twig' %}
            {% block content %}
        </div>
    </div>
    {% endblock %}

</div>
</body>

{% block script %}
{% endblock %}
</html>
