{% if sideMenu %}
    <ul class="list-group">
        {% for item in sideMenu %}
            <a class="list-group-item" href="{{ item.url }}">{{ item.name }}</a>
        {% endfor %}
    </ul>
{% endif %}
